@{
  Layout = "_Layout";
}
@using Bakery.Models;
@model IEnumerable<Bakery.Models.Treat>
<h1>All your Treats @ViewBag.Name</h1>
@if(Model.Any())
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.Name}", "Details" , new {id = treat.TreatId})</li>
    }
  </ul>
}
else
{
  <p>No treats have been added yet.</p>
}
<p class="button">@Html.ActionLink("Add a Treat", "Create")</p>
<p class="button">@Html.ActionLink("Back", "Index", "Home")</p>
